## Einstieg in Python, Theis Thomas: 
### Kapitel 5, Weiterführende Programmierung

#### Kapitel 5.1: Allgemeines

##### 5.1.1 Zuweisungsoperatoren

1. Zahlen

In [1]:
a = 1
a += 1
print(a)
a -= 1
print(a)
a *= 6
print(a)
a **= 2
print(a)
a /= 5
print(a)
a //= 2
print(a)
a %= 2
print(a)

2
1
6
36
7.2
3.0
1.0

2. Strings

In [2]:
t = "hallo"
print(t)
t += " python"
print(t)
t *= 3
print(t)

hallo
hallo python
hallo pythonhallo pythonhallo python

##### 5.1.2 Mehrere Zeilen

In [4]:
print("Umrechnung Celsius in Fahrenheit")

print("Bitte geben Sie eine"
      " Temperatur in Celsius ein: ")
TemperaturinCelsius = float(input())

TermperaturinFahrenheit = TemperaturinCelsius \
                          * 9 / 5 + 32

print(TemperaturinCelsius, " Grad Celsius entsprechen",
     TermperaturinFahrenheit, " Grad Fahrenheit")

Umrechnung Celsius in Fahrenheit
Bitte geben Sie eine Temperatur in Celsius ein:
10
10.0  Grad Celsius entsprechen 50.0  Grad Fahrenheit

5.1.3 entfällt
##### 5.1.4 pass

Darstellung einer Verzweigung bei der einer der Entscheidungszweige keine Auswkirkung hat, aber dennoch auftauchen soll, um z.B. das Programm übersichtlicher zu gesstalten.

In [5]:
a = -12
b = 6 
c = 6.2

if a >= 0 and b>=0 and c>=0:
    pass
else:
    print("Eine der Zahlen ist negativ")

Eine der Zahlen ist negativ

um einen irrelevanten Fall aus der "else" Anweisung rauszunehmen

In [6]:
a = -12
b = 6 
c = 6.2

if a == 1:
    print("Fall 1")
elif a == 2:
    print("Fall 2")
elif a <= 0:
    pass
else:
    print("oder Sonst")

keine Ausgabe

##### Funktionen *eval() und *exec()
eval ermittelt den Wert eines Ausdrucks (eines Strings)

exec führt eine zusammengestzte Anweisung aus (auch ein String)

In [7]:
import math

def mw1(a,b):
    c = (a+b)/2
    return c

def mw2(a,b):
    c= math.sqrt(a*b)
    return c

for i in 1,2:
    t = "mw" + str(i) + "(3,4)"
    c = eval(t)
    print(c)
print()
    
    #exec

for i in 1,2:
    t = "print(mw"+str(i)+"(3,4))"
0    exec(t)

3.5
3.4641016151377544

3.5
3.4641016151377544

### 5.2 Ausgabe Formatierung

##### 5.2.1 print() Funktion

Parameter: *sep= ist der Separator
            *end= Zeilenende

In [1]:
a = 23
b = 7.5
c = a + b

print("Ergebnis:", a, "+", b, "=",c)

# Ausgabe ohne Zeilenende

print("Ergebnis:", end="")
print(a, "+", b, "=", c)

#Neue Zeile
print()

# Liste
stadt = ["Hamburg","Berlin", "München"]

for x in stadt:
    print(x)
for x in stadt:
    print("Stadt", x, sep="=> ", end=" # ")

Ergebnis: 23 + 7.5 = 30.5
Ergebnis:23 + 7.5 = 30.5

Hamburg
Berlin
München
Stadt=> Hamburg # Stadt=> Berlin # Stadt=> München #

##### 5.2.2 Formatierung mit String Literalen

Formatierung mit String-Literalen zur STrukturierung von Dezimalzahlen

In [3]:
# Erzeugung der Zahlen
x = 100/7
y = 2/7

print("Zahlen:", x, y)
print()

# Format f

print(f"Format f, Standard:    {x:f} {x:f} {y:f}")
print(f"Format f, Nachkomma:   {x:25f}")
print(f"Format f, gesamt:      {x:15.10f}")
print()

# Format e (Wissenschaftliches Zahlenformat)

print(f"Format e, Standard:     {x:e}")
print(f"Format e, Nachkomma:    {x:.3e}")
print(f"Format e, gesamt:       {x:12.3e}")
      
# Format %
      
print(f"Format %, Standard:     {y:%}")
print(f"Format %, Nachkomma:    {y:.3%}") # Linksbündig mit 3 Nachkommastellen
print(f"Format %, gesamt:       {y:12.3%}") # Rechtsbündig 12 Zeichen Breite

Zahlen: 14.285714285714286 0.2857142857142857

Format f, Standard:    14.285714 14.285714 0.285714
Format f, Nachkomma:                   14.285714
Format f, gesamt:        14.2857142857

Format e, Standard:     1.428571e+01
Format e, Nachkomma:    1.429e+01
Format e, gesamt:          1.429e+01
Format %, Standard:     28.571429%
Format %, Nachkomma:    28.571%
Format %, gesamt:            28.571%

Formatierung von ZEichenketten

In [10]:
print(f"{'dez':>4}{'dual':>9}{'oct':>4}{'hex':>4}") # Kopfzeile

for z in range(59,69):
    print(f"{z:4d}{z:9b}{z:4o}{z:4x}")
print()

# Tabelle mit verschiedenen Objekten

artname = {23:"Apfel", 8:"Banane", 42:"Pfirsich"}
anzahl = {23:1,8:3,42:5}
epreis = {23:2.95,8:1.45,42:3.05}

#Tabelle

print(f"{'Nr':>4}{'Name':>12}{'Anzahl':>4}{'EP':>13}{'GP':>13}")

for x in 23, 8, 42:
    print(f"{x:4d}{artname[x]:>12}{anzahl[x]:4d}"
          f"{epreis[x]:8.2f} Euro {anzahl[x]*epreis[x]:8.2f} Euro")

 dez     dual oct hex
  59   111011  73  3b
  60   111100  74  3c
  61   111101  75  3d
  62   111110  76  3e
  63   111111  77  3f
  64  1000000 100  40
  65  1000001 101  41
  66  1000010 102  42
  67  1000011 103  43
  68  1000100 104  44

  Nr        NameAnzahl           EP           GP
  23       Apfel   1    2.95 Euro     2.95 Euro
   8      Banane   3    1.45 Euro     4.35 Euro
  42    Pfirsich   5    3.05 Euro    15.25 Euro